# CampusCoPilot – Git ignore
.env
__pycache__/
*.pyc
chroma_data/
uploads/
*.egg-info/
dist/
build/
.venv/
venv/
node_modules/
deploy_azure.txt
/clean_readme.py
/testfile
/generate_submission_pdf.py
/CampusCoPilot_Submission.pdf

